.don-xin-nghi-hoc {
  padding: 3%;
  width: 90%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  border-radius: 0.5rem;
  background: #fff;
  display: flex;
  height: 640px;
}
.don-xin-nghi-hoc .card {
  width: 100%;
  padding: 30px 40px;
  border: none !important;
  /* box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2); */
}

.don-xin-nghi-hoc .blue-text {
  color: #00bcd4;
}

.don-xin-nghi-hoc .form-control-label {
  margin-bottom: 0;
}

.don-xin-nghi-hoc input,
.don-xin-nghi-hoc textarea,
.don-xin-nghi-hoc button {
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px !important;
  font-weight: 300;
}

.don-xin-nghi-hoc input:focus,
.don-xin-nghi-hoc textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00bcd4;
  outline-width: 0;
  font-weight: 400;
}

.don-xin-nghi-hoc .btn-block {
  text-transform: uppercase;
  font-size: 15px !important;
  font-weight: 400;
  height: 43px;
  cursor: pointer;
}

.don-xin-nghi-hoc.btn-block:hover {
  color: #fff !important;
}

.don-xin-nghi-hoc button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}
.don-xin-nghi-hoc .form-card {
  margin-left: 0%;
}
.don-xin-nghi-hoc .danh-sach-don-nghi-hoc-sinh-vien {
  padding: 3%;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
