.lop-hoc-phan {
  padding: 3%;
  width: 90%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  border-radius: 0.5rem;
  background: #fff;
  height: 740px;
}

.lop-hoc-phan .table-lop-hoc-phan {
  position: static;
  width: 80%;
  margin-left: 10%;
}
.lop-hoc-phan .pagination-foot-lophp{
    position: absolute;
    margin-top: 30px;
    margin-left: 600px;
}
.lop-hoc-phan .table td{
  padding: 0.3rem;
}
.lop-hoc-phan .table th {
  padding: 0.8rem;
}
