

.danh-sach-don-nghi-hoc{
    border:1px solid #e0e0eb;
    padding:0% 10% 10% 10%;
    height: 400px;
    position: static;
    width: 94%;
    margin-left: 3%;
  }
.danh-sach-don-nghi-hoc .padding {
    padding: 3rem;
  }
  .danh-sach-don-nghi-hoc .card {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(19, 24, 44, 0.125);
    border-radius: 0.25rem;
  }
  
  .danh-sach-don-nghi-hoc .list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
  }
  
  .danh-sach-don-nghi-hoc .list-item.block .media {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .danh-sach-don-nghi-hoc  .list-item.block .list-content {
    padding: 1rem;
  }
  
  .danh-sach-don-nghi-hoc .w-40 {
    width: 40px !important;
    height: 40px !important;
  } */
  
  .danh-sach-don-nghi-hoc .gd-primary {
    color: #fff;
    border: none;
    background: #448bff linear-gradient(45deg, #448bff, #44e9ff);
  }
  
  .danh-sach-don-nghi-hoc .flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  
  .danh-sach-don-nghi-hoc .text-color {
    color: #5e676f;
  }
  
  .danh-sach-don-nghi-hoc  .text-sm {
    font-size: 0.825rem;
  }
  
  .danh-sach-don-nghi-hoc  .h-1x {
    height: 1.25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  
  .danh-sach-don-nghi-hoc  .no-wrap {
    white-space: nowrap;
  }
  /* .list-row{
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
  } */
  
  .danh-sach-don-nghi-hoc .list-row .list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.75rem 0.625rem;
    width: 100%;
  }
  /* 
  .list-item {
   
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    width: 100%;
  } */
  
  .danh-sach-don-nghi-hoc .list-row .list-item > * {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  
  .danh-sach-don-nghi-hoco .dropdown {
    position: relative;
  }
  
  .danh-sach-don-nghi-hoc a:focus,
  .danh-sach-don-nghi-hoc a:hover {
    text-decoration: none;
  }
  
  .danh-sach-don-nghi-hoc list-item {
    background: white;
  }
  
  .danh-sach-don-nghi-hoc .justify-content-center {
    margin-left: -4%;
    width: 100%;
    margin-top: 0%;
}
  
  .danh-sach-don-nghi-hoc .form-control:focus {
    box-shadow: none;
  }
  
  .danh-sach-don-nghi-hoc .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }
  .danh-sach-don-nghi-hoc .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  .danh-sach-don-nghi-hoc .search {
    width: 36%;
    margin-left: 10%;
  }
  .danh-sach-don-nghi-hoc .input-group-append i {
    margin-top: 95%;
    margin-left: -28%;
  }
  .danh-sach-don-nghi-hoc .input-group-append {
    margin-left: 5px;
  }
  .danh-sach-don-nghi-hoc .p-1 {
    width: 90%;
    border: 1px solid steelblue;
  }
  
  .danh-sach-don-nghi-hoc .selected {
    margin-top: -1%;
    margin-left: 1%;
  }
  
  .danh-sach-don-nghi-hoc .form-select {
    margin-left: 364px;
    height: 35px;
    border: solid 2px steelblue;
    border-radius: 5px;
    margin-top: 20px;
  }
  .danh-sach-don-nghi-hoc .card {
    width: 80%;
    margin-top: 2%;
    margin-left: 61px;
  }
  .danh-sach-don-nghi-hoc .pagination{
    position: absolute;
    left: 253px;
    top: 340px;
  }
  .search-custem{
      display: flex;
  }