.header-danh-sach-sinh-vien {
    display: flex;
      width: 100%;
      margin-bottom: -39px;
  }
  .search-danh-sach-sinh-vien{
    float: right;
    margin-bottom: 30px;
  }
  .search-danh-sach-sinh-vien .input-group-append {
    margin-left: 10px;
    margin-top: 14px;
    height: 10%;
  }
  .danh-sach-sinh-vien .emp-profile{
    margin-top: 10px;
  }
  .thong-tin-lop-hoc .table-bordered {
    margin-top: 3%;
  }
  